# Tools

This notebook contains all the tools that will be used by the agent.

In [1]:
import requests
import sqlite3
import pandas as pd

from smolagents import tool, Tool

from langchain_community.tools.ddg_search.tool import DuckDuckGoSearchRun

## Creating simple tool

A Python function must be annotated with `@tool`. It should also have a docstring describing what does the function do, what does it return and the description of its parameters.

### City to location 

The following function look up at latitude and longitude of a city.

In [ ]:
# TODO: Load CSV file containing latitude, longitude and altitude of cities
# https://github.com/bahar/WorldCityLocations/tree/master
df = pd.read_csv('data/cities_latlng.csv', sep=';')
print(df)

In [ ]:
# Add columns to the data frame
df.columns = [ 'id', 'country', 'city', 'latitude', 'longitude', 'altitude']
# Drop country column
df.drop('country', axis=1, inplace=True)

In [5]:
df.head()

   id            city   latitude  longitude  altitude
0   2        Kandahar  31.610000  65.699997      1015
1   3  Mazar-e Sharif  36.706944  67.112221       369
2   4           Herat  34.340000  62.189999       927
3   5       Jalalabad  34.420000  70.449997       573
4   6          Konduz  36.720000  68.860001       394

In [6]:
# TODO: Explore the loaded dataframe
df[df['city'] == 'Singapore']

          id       city  latitude   longitude  altitude
10566  10568  Singapore   1.29027  103.851959       164

In [15]:
# TODO: Add tool description

@tool
def get_latlng(city: str) -> any:
   """ 
   Get the latitude, longitude and altitude of a city in a dictionary. 

   Args:
      city: city name that you want the latitude, longitude and altitude
      
   Returns:
      any: a dictionary with the following keys: city, latitude, longitude and altitude

   Example:
      result = get_latlng('tokyo')   
   """
   r = df.query(f"city.str.lower() == '{city.lower()}'")
   return { 'city': city, 'latitude': r.iloc[0]['latitude'], 'longitude': r.iloc[0]['longitude'], 'altitude': r.iloc[0]['altitude'] }

In [11]:
# TODO: Test get_latlng method
# case insensitive search
get_latlng('tokyo')

{'city': 'tokyo',
 'latitude': np.float64(35.6895266),
 'longitude': np.float64(139.6916809),
 'altitude': np.int64(40)}

### Temperature at latitude and longitude

The following function lookup the weather at the given latitude and longtude.

In [18]:
# TODO: Add tool description

@tool
def get_temperature(latitude: float, longitude: float) -> any:
   """ 
   Get the temperature of the city given by the latitude and longitude. The result is returned as a dictionary.

   Args:
      latitude: latitude of the city
      longitude: longitude of the city

   Returns:
      any: a dictionary with the following keys: temperature_unit, temperature

   Example:
      result = get_temperature(35.6895266, 139.6916809)
   """
   url = f"https://api.open-meteo.com/v1/forecast?latitude={latitude}&longitude={longitude}&current=temperature_2m"
   resp = requests.get(url)
   j = resp.json()
   if resp.status_code >= 400:
      raise Exception(j['reason'])
   temperature = j['current']['temperature_2m']
   units = j['current_units']['temperature_2m']
   return { "temperature_unit": units, "temperature": temperature }

In [17]:
# TODO: Test get_temperature method
get_temperature(35.6895266, 139.6916809)

{'temperature_unit': 'Â°C', 'temperature': 28.0}

In [19]:
# TODO: Create a web search tool

def web_search(query: str) -> any:

   search = DuckDuckGoSearchRun()
   return search.invoke(query)

In [21]:
# TODO: Test the web search
web_search("When is the next run of NUS ISS course 'Custom Generative AI Systems for Enterprises'?")

/opt/tmp/ellm-2025-aug11/.venv/lib/python3.12/site-packages/langchain_community/utilities/duckduckgo_search.py:63: RuntimeWarning: This package (`duckduckgo_search`) has been renamed to `ddgs`! Use `pip install ddgs` instead.
  with DDGS() as ddgs:

'Jan 13, 2025 Â· åå¨æåï¼NEXTç»æçæ¯æè³ï¼å°¤å¶æ¯4.2åNEXTäºæ¢åæçè¿ç¨ä¸­ï¼åå®çä½ä¼å°äºNEXTçç§ç§å¥½ï¼æ¯å¦æ æ¯çæµçï¼éçº¿æ§çå¨ç»ç­ç­ï¼è¿ â¦ å¦ä½è¯ä»·ç½æäºé³ä¹åç½æé®ç®±å¤§å¸ä»é¸¿è NEXT åºç¨ååºç "å³å°å°æ¥" æ¿åä¸­æ¶å¤±? ç½æäºé³ä¹åæ¯ä¸æ¶äºä¸ä¸ªéå¸¸ç®éç, å®å¨ä¸è½ç¨ççæ¬, è¿å¬èªå·±æ¶èç â¦ Nov 1, 2024 Â· é¸¿è5.0åé¸¿ènextçåºå«é¸¿è5.0åé¸¿èNextæ¯åä¸ºæ¨åºçä¸¤ä¸ªéè¦çæä½ç³»ç»çæ¬ï¼å®ä»¬ä¹é´å­å¨ä¸äºæ¾èçå·®å¼ãé¦åï¼é¸¿è5.0æ¯é¸¿èæä½ç³» â¦ ç®åé¸¿ènextçè£æºéå·²ç»è¾¾å°1000ä¸ä»¥ä¸ï¼æå¾å¤§çæ¬æ´æ°çé¸¿è6.0ï¼æå¾å½äº§æä½ç³»ç»è£æºéè¶è¿1äº¿ï¼çè³10äº¿çé£å¤©ã ç¥ä¹ï¼ä¸­æäºèç½é«è´¨éçé®ç­ç¤¾åºååä½èèéçåååå®¹å¹³å°ï¼äº 2011 å¹´ 1 ææ­£å¼ä¸çº¿ï¼ä»¥ãè®©äººä»¬æ´å¥½çåäº«ç¥è¯ãç»éªåè§è§£ï¼æ¾å°èªå·±çè§£ç­ãä¸ºå â¦'

### Query relational database

The following function queries a relational database (SQLite) view called `album_track`. The table's schema is as follows:
| Field name  | Type          |
|-------------|---------------| 
| AlbumId     | integer       |
| Title       | nvarchar(160) |
| track_name  | nvarchar(200) |
| artist_name | nvarchar(120) |
| duration    | integer       |
| composer    | nvarchar(220) |

In [22]:
# TODO: Add tool description

@tool
def query_album_track(query: str) -> str:
   """ 
   Perform SQL query on the album_track table. Return the result as an array of records. 
   The table name is album_track and has the following columns:
      AlbumId: integer
      Title: nvarchar(160)
      track_name: nvarchar(200)
      artist_name: nvarchar(120)
      duration: integer
      composer: nvarchar(220)
   The duration is in milliseconds.

   Args:
      query: a Valid SQL query in SQLite dialect. The query should only use the select SQL verb.

   Returns:
      str: list of tuple. Each element corresponds to a record from the query

   Example:
      results = query_album_track("select * from album_track where artist_name like '%jackson%'")
   """
   database = "data/chinook_sqlite.sqlite" 
   conn = sqlite3.connect(database)
   try:
      cursor = conn.cursor() 
      rows = cursor.execute(query)
      return rows.fetchall()
   finally:
      conn.close()

In [24]:
# TODO: Test the query_album_track function
query_album_track('select count(*) as rec_count from album_track')

[(3503,)]

### Tools with states

The following isn an example of a more complex tool that requires initialisation

In [25]:
class SQLiteTool(Tool):

   # Required metadata
   name = "chinook_sqlite"

   description = """ 
      Perform SQL query on the album_track table. Return the result as an array of records. 
      The table name is album_track and has the following columns:
         AlbumId: integer
         Title: nvarchar(160)
         track_name: nvarchar(200)
         artist_name: nvarchar(120)
         duration: integer
         composer: nvarchar(220)
      The duration is in milliseconds.
   """

   inputs = {
      "query": {
         "type": "string",
         "description": "A valid SQL query in SQLite dialect. The query should only use the select SQL verb."
      }
   }

   output_type = "string"

   def __init__(self, db_file):
      self.db_file = db_file 
      self.setup()

   def forward(self, query: str) -> str:
      conn = sqlite3.connect(self.db_file)
      try:
         cursor = conn.cursor() 
         rows = cursor.execute(query)
         return rows.fetchall()
      finally:
         conn.close()